* {
    margin: 0;
    padding: 0;
}



/* shared style */
.font-open-sans {
    font-family: 'Open Sans', sans-serif;
    font-optical-sizing: auto;
}



/* logo section */
.logo h2 {
    font-size: 24px;
    color: #000000;
    font-weight: 900;
}

.colour-orange {
    color: #ff7d1a;
}



/* main style */
header {
    background-color: #fff8f3;
    padding-top: 50px;
}

nav {
    width: 65%;
    max-width: 1200px;
    /* border: 1px solid red; */
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .menu{
    display: flex;
    list-style-type: none;
    gap : 51px;
    align-items: center;
}

nav .menu a {
    font-size: 20px;
    color: #474747;
    text-decoration: none;
}


nav .menu a:hover {
    color: #ff7d1a;
}

.btn{
    color: #fff8f3;
    background-color: #ff7d1a;
    border: none;
    padding: 15px 30px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.btn{
    color: #fff8f3;
    background-color: #ff7d1a;
    border: none;
    padding: 15px 30px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    cursor: pointer;
}

/* Banner section */
#banner{
    /* border: 1px solid blue; */
    margin: 47px 38px 0 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#banner .banner-content{
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#banner .banner-content h2{
    font-size: 30px;
    font-weight: 700;
    color: #474747;
    margin-bottom: 5px;
}

#banner .banner-content h1 {
    font-size: 85px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
}

#banner .banner-content p {
    font-size: 18px;
    color: #757575;
    margin-bottom: 30px;
    line-height: 30px;
    max-width: 500px;
}
    
