* {
    margin: 0;
    padding: 0;
}



/* shared style */
.font-open-sans {
    font-family: 'Open Sans', sans-serif;
    font-optical-sizing: auto;
}



/* logo section */
.logo h2 {
    font-size: 24px;
    color: #000000;
    font-weight: 900;
}

.colour-orange {
    color: #ff7d1a;
}



/* main style */
header {
    background-color: #fff8f3;
    background: url(../Images/developer.png) , url(../Images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    padding-top: 50px;
}

nav {
    width: 80%;
    max-width: 1600px;
    /* border: 1px solid red; */
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .menu{
    display: flex;
    list-style-type: none;
    gap : 51px;
    align-items: center;
    font-weight: 600;
}

nav .menu a {
    font-size: 20px;
    color: #474747;
    text-decoration: none;
}


nav .menu a:hover {
    color: #ff7d1a;
}

.btn{
    color: #fff8f3;
    background-color: #ff7d1a;
    border: none;
    padding: 15px 15px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}


/* Banner section */
#banner{
    /* border: 1px solid blue; */
    margin: 47px 38px 0 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#banner .banner-content{
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#banner .banner-content h2{
    font-size: 30px;
    font-weight: 700;
    color: #474747;
    margin-bottom: 5px;
}

#banner .banner-content h1 {
    font-size: 85px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
}

#banner .banner-content p {
    font-size: 18px;
    color: #757575;
    margin-bottom: 30px;
    line-height: 30px;
    max-width: 500px;
}

#banner .banner-image img {
    width: 585px;
    vertical-align: middle;
}

.btn-banner {
    /* display: flex; */
    
    align-items: center;
    gap: 15px;
    color: white;
    background-color: #ff7d1a;
    border: none;
    padding: 10px 10px;
    border-radius: 10px;
    font-size: 17px;
    cursor: pointer;
}
    


/* About Me section */
#about {
    padding-top: 160px;
}

#about .about-container {
    width: 85%;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    background-color: #fff8f3;
    padding: 131px 160px;
}


.section-heading{
    width: 85%;
    max-width: 1200px;
    text-align: center;
    margin: 0 auto;
}

.section-heading h2 {
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 30px;
}

.section-heading p {
    font-size: 18px;
    margin-bottom: 30px;
    line-height: 30px;
    color: #757575;
}

#about .about-container .about-info{
    display: flex;
    justify-content: space-around;
}

.about-info .info-card p {
    font-size: 20px;
    line-height: 35px;
    margin-top: 30px;
    color: #474747;
}

.about-info .info-card h4 {
    font-size: 20px;
    font-weight: 600;
}


/* Skills section */
#skills {
    padding-top: 160px;
}
#skills .skills-container{
    width: 85%;
    max-width: 1200px;
    margin: 0 auto;
}

#skills .skills-container .skill-box{
    display: flex;
    gap: 25px;
}

.skill-box .skill-card {
    padding: 30px;
    /* border: 1px solid #e0e0e0; */
    border-radius: 10px;
    box-shadow: 0px 6px 50px #00000063;
    max-width: 270px;
}

.skill-card img{
    max-width: 50px;
    border: none;
    border-radius: 5px;
    margin-bottom: 30px;
}

.skill-card h3 {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #474747;
}

.skill-card p {
    font-size: 18px;
    line-height: 30px;
    color: #757575;
}


/* Resume section */
#resume {
    padding-top: 160px;
}

#resume .resume-container{
    width: 85%;
    max-width: 1200px;
    margin: 115 auto 0;
    display: flex;
    gap: 25px;
}

#resume .resume-container .section-title{
    color: #474747;
    font-size: 30px;
    margin-bottom: 30px;
}

.resume-card{
    max-width: 520px;
    margin-right: 50px;
}

.resume-card .card-title{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #474747;
}

.resume-card .card-title .card-info{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #757575;
}

.resume-card .card-text{
    font-size: 16px;
    /* font-weight: 600; */
    line-height: 28px;
    margin-bottom: 20px;
    color: #757575;
}

